<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <form (ngSubmit)="hello()" [formGroup]="myForm">
    <input [(ngModel)]="myInput" formControlName="myInput" placeholder="Type your name..." (keyup)="keyClick()"/>
    <button type="submit" [disabled]="!myForm.valid">ok</button>
  </form>

  <div *ngIf="myForm.controls.myInput.errors">
    {{myErrors}}
  </div>

  <dialog id="modal">
    <div>
      Hello {{myInput}}!
    </div>
    <button (click)="close()">Close</button>
  </dialog>
</div>
